*.ipynb
.cache/*
.config/*
.ipython/*
.jupyter/*
.local/*
.vscode/*
.bash_history
.ipynb_checkpoints/*
.idea/*
.python_history
id_list.pkl
data/*
stop_data/*
pickle_data/*
redundant/*
training_data_example/*
model_G/*
CLIIP_module/train_data/both_infected_and_susceptible_people_have_wore_mask/*
CLIIP_module/train_data/both_infected_and_susceptible_people_not_have_wore_mask/*
CLIIP_module/train_data/only_infected_wore_mask/*
CLIIP_module/train_data/only_susceptible_people_wore_mask/*
CLIIP_module/__pycache__/*


